<div id="container" style="clear:both;float:none" base-url="<%= root_url %>">
<div class="mapBrowse" base-url="<%= root_url %>" id="map" >
</div>
<div id="searchresults" class="mapResults">
	<div id="page-entries">
	</div>
	<div id="documents" class="searchDocuments">
		
	</div></div>
</div>
<div style="clear:both;float:none">
Source: Wikidata and top 500 catalog geographic facet values
</div>