<h1>Browse subject eras</h1>

<table>
  <thead>
    <tr>
      <th>Era</th>
    </tr>
  </thead>
  <tbody>
    <% for era in @subject_eras %>
      <tr>
        <td><%= link_to era['label'], '/?f[fast_era_facet][]=' + era['label'].gsub('-', '+-+') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
