<h1>Browse <%= params[:field] %> books</h1>

<table name="fieldBookList" id="fieldBookList">
	<thead>
    <tr>
      <th>Work</th>
      <th>Assignments</th>
    </tr>
  <tbody>
    <% for book in @books %>
      <tr>
        <td><%= link_to book['title'], controller: 'catalog', action: 'index', q: book['isbns'].join(' OR ') %></td>
        <td>in <%= pluralize(book['syllabi'], 'syllabus') %></td>
        <td class="isbns"><%= book['isbns'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
