<div id="embedded-panel"  base-url="<%= root_url %>" uri="<%=params[:uri]%>" label="<%=params[:q]%>">
			<div class="card">
				<div class="card-header" id="embedded-header">
					
				</div>
				<div class="card-body" id="embedded-card">		
					<div class="card-text" role="emwikidata" uri="">
						<div id="image-container" class="float-left w-25"></div>
						<div class="float-left w-75">						
							<div id="wd-description"></div>
							<div id="authdata"></div>
							<div id="notable-works"></div>
							<div id="dig-cols"></div>
						</div>					
					</div>
				</div>
			</div>
</div>
