<div id="embedded-panel"  base-url="<%= root_url %>" uri="<%=params[:uri]%>" label="<%=params[:q]%>">
			<div class="card">
				<div class="card-header" id="embedded-header">
					
				</div>
				<div class="card-body" id="embedded-card">		
					
				</div>
			</div>
</div>
