<div id="semantic-recs" class="expand-search" base-url="<%= root_url %>" query="<%=params[:q]%>">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Were you interested in the following? </h3>
		</div>
		<div class="panel-body">
			<ul class="fa-ul" id="semantic-results">
				
			</ul>
		</div>
	</div>
</div>
