<div class="browse-syllabi">
  <h3 class="mt-4">Browse works often assigned with this one</h3>
  <ul id="recommended-list"></ul>
  <div style="display: none;" id="isbn-box"><%= @document['isbn_t'].inspect %></div>
</div>
