<div id="displayContainer" class="container" base-url="<%= root_url %>" uri="<%= @uri %>"
label="">
	<div class="row">
		<div class="column">
			<h1 id="entityLabel">URI:<%= @uri %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm" id="description"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm" id="hierarchy"></div>
		<div class-"col-sm" id="wdhierarchy"></div>
	</div>
	<div class="row">
		<div class="col-lg border" id="timeline"><h4>Timeline</h4></div>
		<div class="col-lg border" id="map"><h4>Location</h4></div>
	</div>
	<div class="row">
	    <div class="col-lg border" id="searchresults"><h4>Catalog Results</h4></div>
		<div class="col-lg border" id="digcol"><h4>Digital Collection Results</h4></div>
		<div class="col-lg border" id="ecommons"><h4>eCommons results</h4></div>
	</div>
</div>
<script type="text/javascript">
	var uri = "<%= @uri %>";
</script>
