<div id="displayContainer" class="container" base-url="<%= root_url %>" uri="<%= @uri %>"
label="" >
	<div class="row">
		<div class="column">
			<h1 id="entityLabel"><span id="label"></span><small class="externalLink" id="lc"><a href="<%= @uri %>">LOC</a></small><small class="externalLink" id="wd"></small></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm" id="description"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm" id="hierarchy"></div>
		<div class-"col-sm" id="wdhierarchy"></div>
	</div>
	<div class="row">
		<div class="col-md border" id="subject-timeline"><h4>Timeline</h4></div>
		<div class="col-sm border" id="timelineInfo"></div>
		<!--div class="col-md border" id="timeline"><h4>Timeline</h4></div-->
		
	</div>
	<div class="row">
		<div class="col-md border"> 
			<div class="mapBrowse" id="map" ></div>
		</div>
		<div class="col-sm border"> 
			<div id="mapInfo" ></div>
		</div>
	</div>
	<div class="row">  
	    <div class="col-lg border" id="searchresults"><h4>Catalog Results</h4>
	    	<div id="page-entries"></div>
	    	<div id="documents" class="searchDocuments">
	    	</div>
	    </div>
		<div class="col-lg border" id="digcol"><h4>Digital Collection Results</h4></div>
		<div class="col-lg border" id="ecommons"><h4>eCommons results</h4></div>
	</div>
</div>
<script type="text/javascript">
	var uri = "<%= @uri %>";
</script>
