<h1>URI:<%= @uri %></h1>

<div id="description"></div>
<div id="hierarchy"></div>
<div id="wdhierarchy"></div>
<div id="timeline"><h4>Timeline</h4></div>
<div id="map"><h4>Location</h4></div>

<div id="digcol"><h4>Digital Collection Results</h4></div>
<div id="ecommons"><h4>eCommons results</h4></div>

<script type="text/javascript">
Blacklight.onLoad(function() {
   load();
});  

</script>